[worldserver]

###################################################################################################
# Army Rank System

ArmyRank.MAX = 6

#
###################################################################################################
